<div class='container'>
  <h1><%= @petition.name %></h1>
  <hr />
  <h3><%= @petition.description %></h3>

  <h2>Comments</h2>
  <hr />
  <div class='row col-md-12'>
    <% @petition.comments.limit(500).each do |comment| %>
      <div class='col-md-6'>
        <div class="card" style="width: 18rem; margin-bottom: 20px; display: inline-block">
          <div class="card col-md-12">
            <h2><%= comment.user_display_name %></h2>
            <p><%= comment.body %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
